{% extends "./base.html" %}
{% load static %}

{% block template %}
<section class="screen bg-blue-1 d-flex align-items-center">
        <div class="row">
            <div class="col-sm-6 d-flex flex-column justify-content-center">
                <h2>Entre em Contato Conosco!</h2>

                <p>
                    A A.A.P.V. (Associação de Apoio à Vida) é uma organização sem fins lucrativos fundada em 2013 com o
                    objetivo de oferecer apoio e orientação a pessoas em situação de vulnerabilidade social. Ao longo
                    dos anos, expandimos nossa missão para atender um público mais amplo, oferecendo diversos serviços
                    gratuitos em diferentes áreas:
                </p>

                <ul>
                    <li>Assistência social</li>
                    <li>Psicologia</li>
                    <li>Área jurídica</li>
                    <li>Projeto "Bom Samaritano"</li>
                </ul>

                <p>Se você tiver alguma dúvida ou comentário, ou se quiser saber mais sobre como podemos ajudá-lo a
                    alcançar
                    seus objetivos de aprendizado, entre em contato conosco!</p>

                <h3>Redes sociais:</h3>

                <ul>
                    <li><a href="https://www.facebook.com/share/Cf8YeBGeskH7iguL/?mibextid=qi2Omg">Facebook</a></li>
                    <li><a href="https://www.instagram.com/aprenderparaavida?igsh=MXZyMnV3MzBubmxueA==">Instagram</a></li>
                </ul>

                <p>Agradecemos seu interesse na Aprender para a Vida!</p>
                <p>Juntos, podemos construir um futuro melhor através da educação!</p>

            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-center">
                <h3>Se você ou alguém que você conhece precisa de ajuda, não hesite em entrar em contato conosco!</h3>
                <ul>
                    <li>Telefone: (19) 9 9906-9185</li>
                    <li>E-mail: <a href="mailto:aprenderparaavida@gmail.com">aprenderparaavida@gmail.com</a>
                    </li>
                    <li>Endereço:R. Francisco Garcia, 445 - Parque Sao Miguel, Hortolândia - SP, 13186-625</li>
                    <li>Horário de atendimento: Segunda a sexta-feira, das 8h às 18h</li>
                </ul>
                <h3>Contate-nos</h3>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nome Completo</label>
                        <input type="name" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descrição</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}
