{% extends './base.html' %}
{% load static %}

{% block template %}
  <section class="screen bg-light d-flex align-items-center py-5" style="min-height: 100vh;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center mb-4 mb-lg-0 pr-lg-5">
              <h2 class="text-primary">Entre em Contato Conosco!</h2>
              <p class="mt-3">A A.A.P.V (Associação Aprender para a Vida) é uma organização sem fins lucrativos fundada em 2013 com o objetivo de oferecer apoio e orientação a pessoas em situação de vulnerabilidade social. Ao longo dos anos, expandimos nossa missão para atender um público mais amplo, oferecendo diversos serviços gratuitos em diferentes áreas:</p>
              <ul class="list-unstyled mb-4">
                <li><i class="bi bi-check-circle-fill text-success"></i> Assistência social</li>
                <li><i class="bi bi-check-circle-fill text-success"></i> Psicologia</li>
                <li><i class="bi bi-check-circle-fill text-success"></i> Área jurídica</li>
                <li><i class="bi bi-check-circle-fill text-success"></i> Projeto "Bom Samaritano"</li>
              </ul>
              <p>Se você tiver alguma dúvida ou comentário, entre em contato conosco!</p>
              <h3 class="mt-4">Redes sociais:</h3>
              <ul class="list-inline mb-4">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/share/Cf8YeBGeskH7iguL/?mibextid=qi2Omg" class="text-decoration-none"><i class="bi bi-facebook text-primary"></i> Facebook</a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/aprenderparaavida?igsh=MXZyMnV3MzBubmxueA==" class="text-decoration-none"><i class="bi bi-instagram text-danger"></i> Instagram</a>
                </li>
              </ul>
              <p>Agradecemos seu interesse na Aprender para a Vida!</p>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center pl-lg-5">
              <h4 class="text-primary">Se você ou alguém que você conhece precisa de ajuda, entre em contato conosco!</h4>
              <a href="https://wa.me/551999069185" class="btn btn-primary my-3"><i class="bi bi-whatsapp"></i> Nos contate pelo Whatsapp</a>
              <h4 class="mt-3">Informações de contato:</h4>
              <ul class="list-unstyled mb-4">
                <li><i class="bi bi-telephone-fill"></i> Telefone: (19) 9 9906-9185</li>
                <li><i class="bi bi-envelope-fill"></i> E-mail: <a href="mailto:aprenderparaavida@gmail.com">aprenderparaavida@gmail.com</a></li>
                <li><i class="bi bi-geo-alt-fill"></i> Endereço: R. Francisco Garcia, 445 - Parque Sao Miguel, Hortolândia - SP, 13186-625</li>
                <li><i class="bi bi-clock-fill"></i> Horário de atendimento: Segunda a sexta-feira, das 8h às 18h</li>
              </ul>
              <h4 class="mt-3">Você pode nos encontrar aqui:</h4>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.0772788982295!2d-47.2174732!3d-22.873603499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8bbfcf11b667f%3A0x8a6f875340a24fdf!2sR.%20Francisco%20Garcia%2C%20445%20-%20Parque%20Sao%20Miguel%2C%20Hortol%C3%A2ndia%20-%20SP%2C%2013186-625!5e0!3m2!1spt-BR!2sbr!4v1716131569851!5m2!1spt-BR!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
