{% extends './base.html' %}
{% load static %}

{% block template %}
  <section class="screen bg-white d-flex align-items-center">
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center">
        <h2>Entre em Contato Conosco!</h2>
        <br>
        <p>A A.A.P.V. (Associação de Apoio à Vida) é uma organização sem fins lucrativos fundada em 2013 com o objetivo de oferecer apoio e orientação a pessoas em situação de vulnerabilidade social. Ao longo dos anos, expandimos nossa missão para atender um público mais amplo, oferecendo diversos serviços gratuitos em diferentes áreas:</p>
        <ul>
          <li>Assistência social</li>
          <li>Psicologia</li>
          <li>Área jurídica</li>
          <li>Projeto "Bom Samaritano"</li>
        </ul>
        <br>
        <p>Se você tiver alguma dúvida ou comentário, entre em contato conosco!</p>
        <br>
        <h3>Redes sociais:</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/share/Cf8YeBGeskH7iguL/?mibextid=qi2Omg">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/aprenderparaavida?igsh=MXZyMnV3MzBubmxueA==">Instagram</a>
          </li>
        </ul>
        <p>Agradecemos seu interesse na Aprender para a Vida!</p>
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center">
        <h4>Se você ou alguém que você conhece precisa de ajuda entre em contato conosco!</h4>
        <a href="https://wa.me/551999069185"><button class="btn btn-primary bg-green">Nos contate pelo Whatsapp</button></a>
        <br>
        <h4>Informações de contato:</h4>
        <ul>
          <li>
            Telefone:(19) 9 9906-9185</a>
          </li>
          <li>
            E-mail: <a href="mailto:aprenderparaavida@gmail.com">aprenderparaavida@gmail.com</a>
          </li>
          <li>Endereço:R. Francisco Garcia, 445 - Parque Sao Miguel, Hortolândia - SP, 13186-625</li>
          <li>Horário de atendimento: Segunda a sexta-feira, das 8h às 18h</li>
        </ul>
        <h4>Você pode nos encontara aqui:</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.0772788982295!2d-47.2174732!3d-22.873603499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8bbfcf11b667f%3A0x8a6f875340a24fdf!2sR.%20Francisco%20Garcia%2C%20445%20-%20Parque%20Sao%20Miguel%2C%20Hortol%C3%A2ndia%20-%20SP%2C%2013186-625!5e0!3m2!1spt-BR!2sbr!4v1716131569851!5m2!1spt-BR!2sbr" width="550" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
{% endblock %}
