{% extends  "./base.html" %}
{% load static %}

{% block template  %}

<section class="screen bg-blue-1 d-flex align-items-center">
    <div class="row">
        <div class="col-sm-6 d-flex flex-column justify-content-center">
            <p class="h1">Teste</p>
            <p>
                A.A.P.V iniciou suas ações no ano de 2013, naquele momento com a finalidade de prestar assistência as pessoas com questões relacionadas a dependência química, posteriormente as ações foram ampliadas para outras áreas, assistência social, psicologia, área jurídica.  Atualmente desenvolvemos o Projeto “Bom Samaritano” (projeto que visa acolhimento, assistência e orientação de familiares das pessoas que estão em cumprimento de pena privativa de liberdade no complexo penitenciário de Hortolândia-SP
            </p>
            <button>Clique aqui</button>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-center">
                <img src="{% static 'imagens/imagem-01.png' %}" style="max-height: 20rem;" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock  %}