{% extends "./base.html" %}
{% load static %}

{% block template %}


<section class="screen screen-3 d-flex align-items-center">
    <div class="row">
        <div class="col-sm-5 d-flex align-items-center justify-content-center">
            <div>
                <img src="{% static 'imagens/imagem-05.png' %}" style="max-height: 20rem;" alt="">
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1 d-flex flex-column justify-content-center">
            <div class="bg-white p-5">
                <p class="fs-1 fw-semibold">Seja um voluntário</p>
                <p>
                    Caso queria ser um voluntário preencha as seguinte informações:
                
                <p>
                    •Nome completo
                </p>
                <p>
                    •Telefone para contato
                </p>
                <p>
                    •Área (psicologia, direito, assistência social, acolhimento, administração)
                </p>
                </p>
                <p>
                    •Disponibilidade
                </p>
                <p>
                    Logo abaixo você pode entrar em contato pelo nosso whatsapp e enviar as informações por lá, ou prencher o documento no botão da direita
                </p>
                                <a href="https://wa.me/19999069185?text=Olá%20gostaria%20de%20me%20tornar%20voluntario%20do%20programa%20aprender%20para%20a%20vida">
                      <button type="button" class="btn btn-primary btn-lg"><img src="{% static 'imagens/imagewpp.png' %}" style="max-height: 2rem;" alt="">Whats app</button></a>

                      <a href="https://wa.me/19999069185?text=Olá%20gostaria%20de%20me%20tornar%20voluntario%20do%20programa%20aprender%20para%20a%20vida">
                        <button type="button" class="btn btn-primary btn-lg"><img src="{% static 'imagens/imageform.png' %}" style="max-height: 2rem;" alt="">Google forms</button></a>
            </div>
        </div>
    </div>
</section>

<style>
    .screen-3 {
        background-color: #000;
        background: url("../../static/imagens/bg-02.png") no-repeat;
        background-size: 100% 100%;
        background-position: center bottom;
    }

    .valores-box {
        width: 15rem;
        height: 4rem;
        border-radius: 50px;
        box-shadow: 0 5px 10px rgba(61, 61, 61, 0.5);
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 0 0 0 2rem;
        color: #fff;
    }

    .valores-box.item-01 {
        background-color: #0090C1;
    }
    .valores-box.item-02 {
        background-color: #046E8F;
    }
    .valores-box.item-03 {
        background-color: #183446;
    }
    .valores-box.item-04 {
        background-color: #022F40;
    }
</style>

{% endblock %}